# Stellar Testnet RPC endpoint
NEXT_PUBLIC_RPC_URL=https://soroban-testnet.stellar.org

# Network passphrase
NEXT_PUBLIC_NETWORK_PASSPHRASE=Test SDF Network ; September 2015

# Deployed contract address (C...)
NEXT_PUBLIC_CONTRACT_ADDRESS=CASFKDX6OO52YZJ2A6INT2QK76YTPSLLBRNNXQAS7G6YIQZJ7PYOYEV2
